body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

a {
    color: #FF3131;
    text-decoration: none;
}

a:hover {
    color: #ffd584;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px !important;
    }
}

/*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #FF3131;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 28px;
    color: #151515;
    line-height: 0;
}

.back-to-top:hover {
    background: #151515;
}

.back-to-top:hover i {
    color: #FF3131;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
#header {
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
}

#header.header-scrolled,
#header.header-inner-pages {
    background: rgba(0, 0, 0, 0.8);
}

nav#navbar {
    margin-right: 4%;
}

#header .logo {
    font-size: 20px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#header .logo a {
    color: #ff3131;
    text-decoration: none;
}

#header .logo a span {
    color: #FFF;
}

#header .logo img {
    max-height: 40px;
}

header#header {
    /* background-color: #000000; */
    /* position: absolute; */
    background: rgba(0, 0, 0, 0.8);
}

/*--------------------------------------------------------------
  #  Get Startet Button
  --------------------------------------------------------------*/
.get-started-btn {
    color: #fff;
    border-radius: 4px;
    padding: 7px 25px 8px 25px;
    white-space: nowrap;
    transition: 0.3s;
    background-color: #ff3131;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
    border: 2px solid #FF3131;
}

.get-started-btn:hover {
    background: #fff;
    color: #ff3131;
}

@media (max-width: 992px) {
    .get-started-btn {
        padding: 7px 20px 8px 20px;
        margin-right: 15px;
    }
}

a {
    text-decoration: none !important;
}

/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
/**
  * Desktop Navigation 
  */
.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #FF3131;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: none;
    color: #151515;
    font-weight: 400;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    background-color: #FF3131;
}

.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}

/**
  * Mobile Navigation 
  */
.mobile-nav-toggle {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }

    /* .navbar-mobile ul{
            position: relative;
    } */
    a.get-started-btn.scrollto {
        display: none;
    }

    nav#navbar {
        color: #fff !important;
        position: fixed;
    }

    i.bi.bi-list.mobile-nav-toggle {
        margin-left: 23rem;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #151515;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
    color: #151515;
    background-color: #FF3131;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
    margin: 15px;
}

.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
    color: #151515;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
    background-color: #FF3131;
}

.navbar-mobile .dropdown>.dropdown-active {
    display: block;
}

/* 
.navbar .dropdown ul {
    display: none;
} */

.navbar .dropdown .dropdown-active {
    display: block;
}




/* --------- banner section css -------- */
/* .lernen_banner.large.bg-contact {
    padding: 250px 0 130px;
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .1)), url(../Images/css-images/contact.jpg);
} */

.lernen_banner.large.bg-contact {
    padding: 250px 0 130px;
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .1)), url(../Images/gallery-images/banner-772x250-1-2.jpg);
    /* background-position: center center!important; */
    /* text-align: center; */
    /* position: relative; */
    background-size: cover !important;
}

.lernen_banner_title {
    text-align: center;
    margin: 0px auto;
    padding: 0 20px;
}

.lernen_banner_title h1,
.lernen_banner_title h1 .bold,
.lernen_banner_title h1 b {
    font-size: 52px;
    line-height: 52px;
    font-weight: 700;
    color: #fff;
}

.lernen_breadcrumb {
    margin-top: 40px;
}

.lernen_breadcrumb .breadcrumbs {
    margin: 0;
    background: 0 0;
    font-size: 16px;
    font-weight: 500;
}

.lernen_breadcrumb .breadcrumbs span a {
    position: relative;
    display: inline-block;
    padding-right: 20px;
    font-size: 20px;
    text-decoration: none;
}

.lernen_breadcrumb .breadcrumbs span a {
    color: #fff !important;
    transition: all .3s;
}

.lernen_breadcrumb .breadcrumbs span a:after {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #ff3131;
    position: absolute;
    right: 5px;
    top: 16px;
}

.lernen_breadcrumb .breadcrumbs span.last-item {
    color: #fff;
}

/* -------banner end ------- */


/*--------------------------------------------------------------
  # Portfolio
  --------------------------------------------------------------*/

.portfolio-section {
    padding: 50px 0;
    /* background-color: #000; */
}

/* .portfolio-section h2 {
    font-size: 28px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
} */
.portfolio-section h2 {
    color: #ff3131;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 56px;
    margin-bottom: 15px;
    font-weight: 700;
    position: relative;
}

.portfolio-menu {
    text-align: center;
}

.control {
    background: #000;
    color: #fff;
    padding: 5px 10px;
    border: 1px solid #343a40;
    border-radius: 3px;
    margin: 5px;
    cursor: pointer;
    -webkit-transition: all 05s ease;
    -moz-transition: all 05s ease;
    -ms-transition: all 05s ease;
    -o-transition: all 05s ease;
    transition: all 0.5s ease;
}

.control:hover {
    background: #343a40;
}

.mixitup-control-active {
    color: #fff;
    background: #343a40;
}

.fancybox-container button:focus {
    outline: 0;
    box-shadow: none;
}

.portfolio-item {
    padding-top: 30px;
}

.pd {
    padding: 0;
    padding: 10px;
}

.pd img {
    height: 180px;
    transition: all 0.5s;
    width: 100%;
    object-fit: cover;
}

.portfolio-overlay {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    /* width: 51%; */
    height: 100%;
    text-align: center;
    visibility: hidden;
    transition: all 0.5s;
    transform: scale(0);
}

.portfolio-overlay p,
.portfolio-overlay a {
    position: relative;
    z-index: 4;
}

.portfolio-overlay::before {
    content: "";
    width: 0;
    height: 0;
    border-width: 0;
    position: absolute;
    left: 10%;
    top: 10%;
    transition: 50ms height ease 150ms;
    z-index: 3;
}

.portfolio-overlay::after {
    content: "";
    width: 0;
    height: 0;
    border-width: 0;
    position: absolute;
    right: 10%;
    bottom: 10%;
    transition: 100ms width ease 200ms;
    z-index: 3;
}

.portfolio-item:hover .portfolio-overlay::before {
    width: 80%;
    height: 80%;
    border-top: 1px solid #ff3131;
    border-right: 1px solid #ff3131;
    transition: width 0.1s ease 0.3s, height 0.1s ease 0.5s;
}

.portfolio-item:hover .portfolio-overlay::after {
    width: 80%;
    height: 80%;
    border-bottom: 1px solid #ff3131;
    border-left: 1px solid #ff3131;
    transition: width 0.1s ease 0.6s, height 0.1s ease 0.7s;
}

.portfolio-item li:hover .portfolio-overlay {
    visibility: visible;
    transform: scale(1);
}

button.control.outline.mixitup-control-active {
    background-color: #ff3131;
    /* background-color: black; */
    border: #ff3131;
}

button.control.outline.mixitup-control-active:hover {
    background-color: #fff;
    color: #ff3131;
}

button.control.outline {
    background-color: #ff3131;
    /* background-color: black; */
    border: #ff3131;
}

button.control.outline:hover {
    background-color: #ff3131;
    ;
}

.bar {
    height: 6px;
    width: 90px;
    background: rgba(251, 129, 34, 0.42);
    margin: 20px auto;
    position: relative;
}

.bar::before {
    content: '';
    position: absolute;
    left: 45%;
    top: -3px;
    height: 12px;
    width: 10px;
    background: #ff3131;
}

.portfolio-overlay .category {
    margin-top: 70px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
}

.portfolio-overlay .magnify-icon {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background: #ff3131;
    margin: 0 5px;
    cursor: pointer;
    display: inline-block;
    transition: all 0.25s;
}

.portfolio-overlay .magnify-icon:hover {
    background: #000;
}

.portfolio-overlay .magnify-icon p span i {
    font-size: 15px;
    color: #fff;
    line-height: 40px;
    cursor: pointer;
}

li.mix.web.col-xl-3.col-md-4.col-12.col-sm-6.pd {
    text-decoration: none !important;
    list-style: none;
}

li.mix.dev.col-xl-3.col-md-4.col-12.col-sm-6.pd {
    text-decoration: none !important;
    list-style: none;
}

li.mix.wp.col-xl-3.col-md-4.col-12.col-sm-6.pd {
    text-decoration: none !important;
    list-style: none;
}


/*--------------------------------------------------------------
  # Portfolio Details
  --------------------------------------------------------------*/
/* .portfolio-details {
    padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
    width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #FF3131;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #FF3131;
}

.portfolio-details .portfolio-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba(21, 21, 21, 0.08);
}

.portfolio-details .portfolio-info h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
    margin-top: 10px;
}

.portfolio-details .portfolio-description {
    padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
    padding: 0;
} */

/*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
#footer {
    background: black;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
}

#footer .footer-top {
    background: #151515;
    border-bottom: 1px solid #222222;
    padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
    margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
    font-size: 28px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
}

#footer .footer-top .footer-info h3 span {
    color: #FF3131;
}

#footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #fff;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #292929;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    background: #FF3131;
    color: #151515;
    text-decoration: none;
}

#footer .footer-top h4 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #FF3131;
    font-size: 18px;
    line-height: 1;
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
    color: #FF3131;
}

#footer .footer-top .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 4px;
}

#footer .footer-top .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px;
    width: calc(100% - 110px);
}

#footer .footer-top .footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: -2px;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #FF3131;
    color: #151515;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
}

#footer .footer-top .footer-newsletter form input[type=submit]:hover {
    background: #ffcd6b;
}

#footer .copyright {
    text-align: center;
    padding-top: 30px;
}

#footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #fff;
}